# Node.js specific
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build directories
dist/
build/

# TypeScript cache
*.tsbuildinfo

# Environment variables
.env

# Debugger files
.vscode/

# OS-specific files
.DS_Store
Thumbs.db

# IDE-specific files
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
